@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

aside, nav, footer, header, section {
	display: block;
}

html, body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-size: 14px;
	font-family: "Lato";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: "Lato";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.container {
	max-width: 1130px;
	padding: 0px 15px;
	margin: 0px auto;
}

.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.ibg img {
	display: none;
}

.slick-slider {
	position: relative;
}
.slick-slider .slick-list {
	overflow: hidden;
}
.slick-slider .slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.slick-slider .slick-dots {
	padding: 100px 0px 0px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.slick-slider .slick-dots li {
	margin: 0px 5px;
}
.slick-slider .slick-dots li button {
	font-size: 0;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 1px solid #c8c8c8;
	background-color: transparent;
}
.slick-slider .slick-dots li.slick-active button {
	background-color: #a9afb3;
}
@media (max-width: 1100px) {
	.slick-slider .slick-dots {
		padding: 50px 0px 0px 0px;
	}
}
@media (max-width: 767px) {
	.slick-slider .slick-dots {
		padding: 30px 0px 0px 0px;
	}
}

.header {
	z-index: 10;
	position: fixed;
	width: 100%;
}
.header__logo {
	color: #ffffff;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.header__logo img {
	padding-right: 10px;
}
.header__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 90px;
}

.menu {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.menu__list li a:active, .menu__list li a:hover, .menu__list li a:link, .menu__list li a {
	margin: 0 8.5px;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
.menu__link {
	text-transform: uppercase;
}

.actions-header {
	cursor: pointer;
	margin-right: 45px;
}
.actions-header__region {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #ffffff;
}
.actions-header__region img {
	padding-right: 11px;
}

.header-login a:active, .header-login a:hover, .header-login a:link, .header-login a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #ffffff;
	width: 100px;
	height: 40px;
	border-radius: 6px;
	border: 1px solid #ffffff;
}

/*
	Стиль иконки бургера

*/
.icon-menu {
	display: block;
	display: none;
	position: absolute;
	top: 18px;
	right: 10px;
	width: 30px;
	height: 18px;
	cursor: pointer;
	z-index: 5;
}
.icon-menu span {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	top: 8px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000;
}
.icon-menu span:first-child {
	top: 0px;
}
.icon-menu span:last-child {
	top: auto;
	bottom: 0px;
}
.icon-menu.active span {
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.icon-menu.active span:first-child {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
}
.icon-menu.active span:last-child {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: 8px;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 8px solid white;
	margin-left: 10px;
}

/*
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.footer {
	background-color: #f7f7f7;
	padding: 100px 0;
}
.footer__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.footer__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
}
.footer__title {
	color: #101010;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 25px;
}
.footer__text {
	color: #101010;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 5px;
}
.footer__text_1 {
	width: 174px;
}
.footer__img {
	margin-left: 5px;
}
.footer__img img {
	margin: 15px 10px 0 0;
}

.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}

.btn {
	display: inline-block;
	padding: 0px 0px;
}
.btn.fw {
	width: 100%;
}

.select-block {
	position: relative;
}

.select__label {
	z-index: 2;
	position: absolute;
	top: -8px;
	background-color: #f7f7f7;
	padding: 0 5px;
	color: #979797;
	font-weight: 600;
	font-size: 13px;
	line-height: 16px;
	left: 20px;
}

.select {
	position: relative;
	cursor: pointer;
}
.select .select-title {
	z-index: 1;
	width: 100%;
	height: 55px;
	border: 1px solid #dedede;
	position: relative;
	background-color: #fff;
}
.select .select-title__arrow {
	position: absolute;
	top: 0;
	right: 0px;
	width: 45px;
	height: 100%;
	background: url("../img/icons/select-arrow.svg") center no-repeat;
}
.select .select-title__value {
	color: #000;
	font-weight: 700;
	font-size: 18px;
	line-height: 53px;
	display: block;
	overflow: hidden;
	padding: 0 45px 0 25px;
	white-space: nowrap;
	text-transform: none;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.select .select-options {
	position: absolute;
	z-index: 10;
	top: 54px;
	display: none;
	overflow: hidden;
	min-width: 100%;
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 10px 20px 10px 25px;
}
.select .select-options-scroll {
	max-height: 80px;
	overflow: auto;
}
.select .select-options-list {
	padding: 0px 0px 0px 0px;
}
.select .select-options__value {
	color: #000;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.select .select-options__value:last-child {
	margin: 0px 0px 0px 0px;
}
.select .select-options__value:hover {
	color: #000;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	display: block;
	padding: 0px 20px;
}
.input:nth-child(2) {
	border-radius: 0 !important;
	display: block;
	padding: 0px 20px 0 50px;
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

.check {
	position: relative;
	padding-left: 25px;
	color: #5f5f5f;
	line-height: 18px;
	cursor: pointer;
}
.check input {
	display: none;
}
.check:before {
	content: "";
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #a3a3a3;
	position: absolute;
}
.check.active:before {
	background: url("../img/icons/check.png") center no-repeat;
}

.option {
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	line-height: 16px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: 300;
}
.option:last-child {
	margin-bottom: 0px;
}
.option input {
	display: none;
}
.option:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	content: "";
	border: 1px solid #7f7f7f;
	border-radius: 50%;
}
.option.active:before {
	background: url("../img/icons/option.png") center no-repeat;
}

.rating-block {
	display: table;
	font-size: 0;
}

.rating {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.rating.edit .star {
	cursor: pointer;
}
.rating .star {
	width: 17px;
	height: 14px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.rating__line {
	position: absolute;
	width: 85px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
	z-index: 1;
	background-size: 85px 100%;
}

.rating__activeline {
	position: absolute;
	width: 0px;
	height: 14px;
	top: 0;
	left: 0;
	background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
	z-index: 2;
	background-size: 85px 100%;
}

.rating__value {
	display: inline-block;
	color: #1b3139;
	font-size: 14px;
	line-height: 13px;
	vertical-align: middle;
}

.quantity {
	position: relative;
	width: 73px;
	height: 47px;
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
}

.quantity__input {
	height: 45px;
	width: 50px;
	text-align: center;
	color: #101010;
	font-weight: 300;
}

.quantity__btn {
	position: absolute;
	top: 11px;
	right: 15px;
	cursor: pointer;
}
.quantity__btn:before {
	font-size: 25px;
	display: inline-block;
	line-height: 10px;
	color: #a9a9a9;
}
.quantity__btn:hover:before {
	color: #da0005;
}
.quantity__btn.dwn {
	top: 25px;
}

.category-params-item-price-table {
	margin-bottom: 25px;
}
.category-params-item-price-table .cell:first-child {
	padding-right: 15px;
	position: relative;
}
.category-params-item-price-table .cell:first-child:after {
	content: "-";
	position: absolute;
	right: -4px;
	top: 8px;
	font-size: 20px;
}
.category-params-item-price-table .cell:last-child {
	padding-left: 15px;
}
.category-params-item-price-table .cell input {
	height: 37px;
	border: 2px solid #393939;
	background-color: #ffffff;
	text-align: center;
	font-size: 12px;
	color: #393939;
	font-weight: 500;
	width: 100%;
}

.category-params-item-price-range {
	margin: 0 12px 40px 12px;
	background-color: #c9cecf;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-range {
	background-color: #000;
	height: 2px;
	position: relative;
}
.category-params-item-price-range .ui-slider-handle {
	width: 23px;
	height: 28px;
	border: 3px solid #fbfbfb;
	background-color: #ea5922;
	display: block;
	position: absolute;
	top: -14px;
	margin-left: -12px;
	cursor: pointer;
}
.category-params-item-price-range .ui-slider-handle span {
	position: absolute;
	bottom: -18px;
	left: 50%;
	width: 50px;
	text-align: center;
	font-size: 10px;
	margin-left: -25px;
	font-weight: 500;
	color: #94a6aa;
}

.form-range-line {
	position: relative;
	height: 5px;
	border-radius: 0 0 4px 4px;
	background-color: #e0e0e0;
	margin: -2px 0px 0px 0px;
}
.form-range-line .ui-slider-range {
	background-color: #093454;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 4px 4px;
}
.form-range-line .ui-slider-handle {
	background: url("../img/icons/range.svg") 0 0 no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin: -9px 0px 0px -14px;
	top: 0;
	left: 0;
	cursor: pointer;
}
.form-range-line .ui-state-hover {
	background: url("../img/icons/range_a.svg") 0 0 no-repeat;
}

.form-range-values {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 14px 0px 0px 0px;
}

.form-range-values__item {
	font-size: 12px;
	color: #888;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.main-screen {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 100%;
	        flex: 1 0 100%;
	position: relative;
}
.main-screen__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -10;
}
.main-screen__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main-screen__title {
	color: #ffffff;
	font-family: Lato;
	font-size: 72px;
	font-weight: 700;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
@media (max-width: 991.98px) {
	.main-screen__title {
		font-size: 80px;
	}
}
.main-screen__subtitle {
	width: 600px;
	height: 164px;
	color: #ffffff;
	font-family: Lato;
	font-size: 24px;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
}
@media (max-width: 991.98px) {
	.main-screen__subtitle {
		font-size: 30px;
	}
}
.main-screen .button a, .main-screen .button a:hover, .main-screen .button a:link, .main-screen .button a:active {
	width: 160px;
	height: 50px;
	border-radius: 6px;
	background-color: #ffffff;
	color: #ed4c5c;
	font-family: Lato;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 991.98px) {
	.main-screen .button a, .main-screen .button a:hover, .main-screen .button a:link, .main-screen .button a:active {
		width: 180px;
		height: 70px;
		font-size: 20px;
	}
}

.management__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 500px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media (max-width: 991.98px) {
	.management__body {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-top: 80px;
	}
}
.management__text {
	padding-top: 48px;
	margin-right: 20px;
}
@media (max-width: 991.98px) {
	.management__text {
		padding-top: 20px;
		margin-right: 0;
	}
}
.management__video {
	padding-right: 5%;
}
@media (max-width: 991.98px) {
	.management__video {
		padding: 0 0 30px 0;
	}
}

.more a:hover, .more a:active, .more a:link, .more a {
	margin-top: -21px;
	color: #ed4c5c;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
}
@media (max-width: 991.98px) {
	.more a:hover, .more a:active, .more a:link, .more a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.title {
	width: 445px;
	color: #000000;
	font-family: Lato;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 48px;
	line-height: 40px;
}
@media (max-width: 991.98px) {
	.title {
		width: 505px;
		font-size: 40px;
		text-align: center;
		margin-bottom: 24px;
	}
}

.text {
	width: 445px;
	height: 115px;
	color: #000000;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
	margin-bottom: 5px;
}
@media (max-width: 991.98px) {
	.text {
		width: 500px;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		margin-bottom: 25px;
	}
}

.features {
	background-color: #fafafa;
}
.features__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 30px;
}
.features__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #000000;
	font-family: Lato;
	font-size: 36px;
	font-weight: 600;
	margin-top: 60px;
	margin-bottom: 60px;
}
@media (max-width: 991.98px) {
	.features__title {
		margin-top: 30px;
		margin-bottom: 20px;
		font-size: 40px;
	}
}
.features__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 1180px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 8px;
	background-color: #ffffff;
}

.card {
	margin: 15px;
	height: 349px;
	margin-bottom: 70px;
}
.card__bg {
	width: 350px;
	height: 250px;
	border-radius: 8px;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
@media (max-width: 991.98px) {
	.card__bg {
		width: 445px;
		height: 311px;
	}
}
.card__body-text {
	width: 293px;
	-webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background-color: #ffffff;
	position: absolute;
	z-index: 20;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	padding: 35px 30px 23px 29px;
	margin-top: 102px;
}
@media (max-width: 991.98px) {
	.card__body-text {
		width: 373px;
		height: 220px;
	}
}
.card__title {
	color: #101010;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
@media (max-width: 991.98px) {
	.card__title {
		font-size: 28px;
	}
}
.card__text {
	color: #101010;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}
@media (max-width: 991.98px) {
	.card__text {
		font-size: 18px;
	}
}
.card__more a:hover, .card__more a:active, .card__more a:link, .card__more a {
	display: inline-block;
	color: #ed4c5c;
	font-size: 12px;
	margin-top: 30px;
}
@media (max-width: 991.98px) {
	.card__more a:hover, .card__more a:active, .card__more a:link, .card__more a {
		font-size: 15px;
	}
}

.technology__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.technology__title {
	margin-top: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #000000;
	font-family: Lato;
	font-size: 36px;
	font-weight: 600;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 50px;
}
@media (max-width: 991.98px) {
	.technology__title {
		font-size: 40px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}
.technology__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 1200px;
}
@media (max-width: 991.98px) {
	.technology__container {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

.item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 230px;
	height: 226px;
	margin: 30px;
}
.item__img {
	margin-top: -30px;
}
.item__title {
	margin-top: 15px;
	color: #101010;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}
@media (max-width: 991.98px) {
	.item__title {
		font-size: 22px;
	}
}
.item__text {
	width: 191px;
	height: 51px;
	color: #000000;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
}
@media (max-width: 991.98px) {
	.item__text {
		font-size: 16px;
	}
}

.saving {
	background: #ed4c5c;
}
.saving__body {
	padding-top: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 500px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 991.98px) {
	.saving__body {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-top: 30px;
	}
}
.saving__video {
	position: relative;
}
@media (max-width: 991.98px) {
	.saving__video {
		margin: 50px 0 40px 11%;
	}
}
.saving__textblock {
	padding-right: 5%;
}
@media (max-width: 991.98px) {
	.saving__textblock {
		padding: 0;
		text-align: center;
	}
}
.saving__title {
	width: 445px;
	color: #ffffff;
	font-family: Lato;
	font-size: 36px;
	font-weight: 600;
	margin: 40px 0 25px 0;
}
@media (max-width: 991.98px) {
	.saving__title {
		font-size: 40px;
	}
}
.saving__text {
	width: 445px;
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
	margin-right: 20px;
}
@media (max-width: 991.98px) {
	.saving__text {
		font-size: 16px;
		width: 475px;
	}
}

.video_1 {
	margin-bottom: 28px;
	margin-left: -85px;
}

.video_2 {
	margin-top: -286px;
	margin-left: -43px;
}

.video_3 {
	margin-top: -300px;
	margin-left: 60px;
}

.saving__apps img {
	margin: 40px 25px 0 0;
}

.saving__apps img:last-child {
	margin-left: 0px;
}

.contact__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 115px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
@media (max-width: 991.98px) {
	.contact__body {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
		margin-top: 30px;
	}
}
.contact__textblock {
	margin: 0 10px;
}
.contact__title {
	color: #000000;
	font-family: Lato;
	font-size: 36px;
	font-weight: 600;
}
@media (max-width: 991.98px) {
	.contact__title {
		font-size: 40px;
	}
}
.contact__text {
	width: 434px;
	color: #000000;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
	margin-top: 50px;
}
@media (max-width: 991.98px) {
	.contact__text {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		text-align: center;
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
.contact__inputblock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: 540px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-right: -3%;
}
@media (max-width: 991.98px) {
	.contact__inputblock {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
.contact__input {
	width: 255px;
	height: 60px;
	border-radius: 6px;
	border: 1px solid #333333;
	margin-bottom: 25px;
}
.contact__input:nth-child(1) {
	margin-right: 30px;
}
.contact__input:nth-child(3), .contact :nth-child(4) {
	width: 540px;
}
.contact__input input {
	margin: 20px 50px 0 10px;
	font-size: 16px;
	color: rgba(19, 39, 67, 0.5);
	padding-right: 35px;
}
.contact__input_2 input {
	padding-right: 320px;
}
.contact__button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 160px;
	height: 50px;
	border-radius: 6px;
	border: 2px solid #ed4c5c;
	background-color: #ed4c5c;
	margin-bottom: 120px;
}
.contact__button a:link, .contact__button :active, .contact__button :hover, .contact__button a {
	color: #ffffff;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}